/*Fondo*/
body
{
	/* backgroud-color:#FFF6F1; */
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:"Helvetica",Arial;
}

/*Formato del Contenido*/
#contenido
{
	width:960px;
	margin:0 auto;
	text-align:center;
}

/*Color de los Titulos*/
h1
{
	color:#e44e2d;
}

/*Color de los Subtitulos*/
h3
{
	color:#e44e2d;
}


/*Elementos de la Lista*/
nav ul li
{
	display:inline-block;
	margin-right:20px;
	color:#1d1d1d;
	cursor: pointer;
	font-weight: bold;
}

/*Formato del Texto de Inicio*/
#textoPr
{
	width:600px;
	height:310px;
	background-color:#1d1d1d;
	color:#FFF;
	margin:0 auto;
	border-radius:20px; /*Borde del Recuadro*/
	padding:20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5); /*Sombras*/
}

/*Evitar que el navegador cambie los parametros*/
a
{
	color:#e44e2d;
	font-weight:bold;
	
}
