@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	font-family: 'Numans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../imgs/fondo.jpg');
	background-color: rgba(255,255,255,0.4); /* blend mode is necessary for work it*/
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-size: cover;
}

.col-form-label {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

h2 {
	font-weight: bold;
	color: white;
}

#HereMaps {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.footer-custom {
	background-color: #3c3d41;
	margin-top: 50px;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}

.nav-link {
	font-weight: bold;
}

.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover{
	color: white;
	cursor: pointer;
}

.card-header h3{
	color: white;
}

.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.remember{
	color: white;
}

.remember input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn{
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover{
	color: black;
	background-color: white;
}

.links{
	color: white;
}

.links a{
	margin-left: 4px;
}