body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('imagenes/body-background.jpg');
}

.jumbotron {
  background-image: url('imagenes/body-background.jpg');
}

footer {
	margin-top: 20px; /* separacion de otras ventanas */
	padding-top: 15px; /*separacion interna en su ventana */
	background-color: #f1f1f1;
}

.social-icons li {
  display:inline-block;
  margin-bottom:2px
}

.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}

.social-icons a.facebook:hover {
  background-color:#3b5998
}

.social-icons a.twitter:hover {
  background-color:#00aced
}

.social-icons a.linkedin:hover {
  background-color:#007bb6
}

.social-icons a.dribbble:hover {
  background-color:#ea4c89
}

.copyright-text {
  padding-top: 14px;
  font-weight: bold;
}

.font-black > ul > li > a {
  color: #000000;
  font-weight: bold;
}

.font-black > p {
  color: #000000;
  font-weight: bold;
}

.font-black > h3 {
  font-weight: bold;
}

.navbar-vertical {
	height: 500px;
	background-color: #f1f1f1;
}

.navbar-vertical > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.navbar-vertical > ul > li > a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	/*text-align: center;*/
	font-weight: bold;
}

.navbar-vertical > ul > li > a:hover {
	background-color: #555;
	color: white;
}

.navbar-vertical > 

.active {
	background-color: #4CAF50;
	color: white;
}

.content-vertical {
	height: 500px;
}

.icon-vNavbar {
	padding-right: 10px;
}

label {
	font-weight: bold;
}

.font-small {
  font-size: 14px;
}

.font-small > tbody > tr > td > center > h5 {
  font-size: 13px;
}