<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Tesis">
		<meta name="keywords" content="kinua, scann, javascript">
		<meta name="author" content="Alexis V&aacute;squez Garc&iacute;a">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

		<title>KinuaScann</title>

		<!-- Bootstrap 4.0.0 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    	<link rel="stylesheet" href="../css/home.css">

    	<!-- PNotify 3--> 
    	<link rel="stylesheet" href="../tools/pnotify/pnotify.custom.min.css">
	</head>

	<body>

		<!-- BEGIN CABECERA -->
		<!--<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
			<div class="container">

				<ul class="nav navbar-nav">
					
				</ul>

				<ul class="nav navbar-nav mx-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">KinuaScann</a>
					</li>
				</ul>

				<ul class="nav navbar-nav">
					
				</ul>

			</div>
		</nav>-->
		<!-- END CABECERA -->		

		<!-- BEGIN CONTENIDO -->
		<div class="container">
			<div ng-app="home" ng-controller="homeController">

				<div ng-style="{'height':'700px'}">
				</div>

				<div class="modal fade" id="loginModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						
							<div class="modal-header">
								<h3>ACCESO A KINUA-SCANN</h3>
							</div>
							
							<div class="modal-body">
								<h4>Bienvenido a la ventana emergente de la p&aacute;gina de Kinua-SCANN.</h4>
								Para entrar al contenido, por favor, identif&iacute;quese como INVITADO o AGR&Oacute;NOMO.
							</div>
							
							<div class="modal-footer">
								<button type='button' class='btn btn-primary btn-large' ng-click="gotoPrincipalView()">INVITADO</button>
								<button type='button' class='btn btn-success btn-large' ng-click="gotoLoginView()">AGR&Oacute;NOMO</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- END CONTENIDO -->

		<!-- BEGIN FOOTER -->
		<!--<footer class="footer-custom">
		    
		    <div class="row">

		        <div class="col-md-9">
		            <h2>UPC</h2>
		            <p>Universidad Peruana de Ciencias Aplicadas - UPC. Para el apoyo en la mejora log&iacute;stica del Instituto Nacional
		            de Innovación Agraria - INIA en Sede La Molina.</p>
		            <p>© 2020 Todos los derechos reservados.</p>
		        </div>

		        <div class="col-md-3">
		            <h4>Noticias</h4>
		            <p>Un vistazo cercano a la integraci&oacute;n tecnol&oacute;gica.</p>
		        </div>

        	</div>

		</footer>-->
		<!-- END FOOTER -->

		<!-- JavaScript -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

		<!-- Google Maps -->
		<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcri--4Er1LjtxK5L-mGhgx03XGTfD-CA&callback"></script>-->

		<!-- HERE Maps -->
		<script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
		<script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"></script>

		<!-- Angular 1 -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>

		<!-- PNotify 3 -->
		<script type="text/javascript" src="../tools/pnotify/pnotify.custom.min.js"></script>

		<!-- Indes JS -->
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/home.js"></script>

	</body>

</html>