@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	font-family: 'Numans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../imgs/fondo.jpg');
	background-color: rgba(255,255,255,0.4); /* blend mode is necessary for work it*/
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-custom {
	background-color: #3c3d41;
	margin-top: 50px;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}

.modal-content {
	background-color: #78AB97 !important;
}