<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Tesis">
		<meta name="keywords" content="kinua, scann, javascript">
		<meta name="author" content="Alexis V&aacute;squez Garc&iacute;a">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

		<title>KinuaScann</title>

		<!-- Bootstrap 4.0.0 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    	<link rel="stylesheet" href="../css/home.css">

    	<!-- PNotify 3--> 
    	<link rel="stylesheet" href="../tools/pnotify/pnotify.custom.min.css">
	</head>

	<body>

		<!-- BEGIN CABECERA -->
		<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
			<div class="container">

				<ul class="nav navbar-nav">
					
				</ul>

				<ul class="nav navbar-nav mx-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">KinuaScann</a>
					</li>
				</ul>

				<ul class="nav navbar-nav">
					
				</ul>

			</div>
		</nav>
		<!-- END CABECERA -->		

		<!-- BEGIN CONTENIDO -->
		<div class="container">
			<div ng-app="home" ng-controller="homeController">

				<br>
				<!--<center><img src="../imgs/titulo.png"></center>-->

				<br>
				<div class="row">

					<!-- Begin Informacion -->
					<div class="col-md-6 col-sm-6 col-xs-6">
						<center><img src="../imgs/portada.png" ng-style="{'max-width': '95%','max-height': '95%'}"></center>
					</div>
					<!-- End Informacion -->

					<!-- Begin Login -->
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="d-flex justify-content-center h-100">

							<!-- Begin Tarjeta -->
							<div class="card">

								<!-- Begin Tarjeta Cabecera -->
								<div class="card-header">
									<h3>Sign In</h3>
									<div class="d-flex justify-content-end social_icon">
										<span><i class="fab fa-facebook-square"></i></span>
										<span><i class="fab fa-google-plus-square"></i></span>
										<span><i class="fab fa-twitter-square"></i></span>
									</div>
								</div>
								<!-- End Tarjeta Cabecera -->

								<!-- Begin Tarjeta Cuerpo -->
								<div class="card-body">
									<form>
										<div class="input-group form-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-user"></i></span>
											</div>
											<input ng-model="ngUsuario.Username" type="text" class="form-control" placeholder="username">
											
										</div>
										<div class="input-group form-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-key"></i></span>
											</div>
											<input ng-model="ngUsuario.Password" type="password" class="form-control" placeholder="password">
										</div>
										<div class="row align-items-center remember">
											<input type="checkbox">Remember Me
										</div>
										<div class="form-group">
											<input type="submit" value="Login" class="btn float-right login_btn" ng-click="login()">
										</div>
									</form>
								</div>
								<!-- End Tarjeta Cuerpo -->

								<!-- Begin Tarjeta Pie -->
								<div class="card-footer">
									<div class="d-flex justify-content-center links">
										Don't have an account?<a href="#" ng-style="{'color':'#FFC312'}">Sign Up</a>
									</div>
									<div class="d-flex justify-content-center">
										<a href="#" ng-style="{'color':'#FFC312'}">Forgot your password?</a>
									</div>
								</div>
								<!-- End Tarjeta Pie -->

							</div>
							<!-- End Tarjeta -->

						</div>
					</div>
					<!-- End Login -->

				</div>

			</div>
		</div>
		<!-- END CONTENIDO -->

		<!-- BEGIN FOOTER -->
		<footer class="footer-custom">
		    
		    <div class="row">

		        <div class="col-md-9">
		            <h2>Logo</h2>
		            <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
		            <p>© 2014 BS3 UI Kit, All rights reserved</p>
		        </div>

		        <div class="col-md-3">
		            <h4>Newsletter</h4>
		            <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
		        </div>

        	</div>

		</footer>
		<!-- END FOOTER -->

		<!-- JavaScript -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<!-- Google Maps -->
		<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcri--4Er1LjtxK5L-mGhgx03XGTfD-CA&callback"></script>-->

		<!-- HERE Maps -->
		<script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
		<script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"></script>

		<!-- Angular 1 -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>

		<!-- PNotify 3 -->
		<script type="text/javascript" src="../tools/pnotify/pnotify.custom.min.js"></script>

		<!-- Indes JS -->
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/home.js"></script>

	</body>

</html>