<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Tesis">
		<meta name="keywords" content="kinua, scann, javascript">
		<meta name="author" content="Alexis V&aacute;squez Garc&iacute;a">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

		<title>KinuaScann</title>

		<!-- Bootstrap 3.0.0 -->
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="index.css">

    	<!-- PNotify 3--> 
    	<link rel="stylesheet" href="herramientas/pnotify.custom.min.css">
	</head>

	<body>

		<!-- BEGIN CABECERA -->
		<header>
			<div class="jumbotron">
				<center><img src="imagenes/header-logo.png"></center>
			</div>
		</header>
		<!-- END CABECERA -->		

		<hr>
		<!-- BEGIN CONTENIDO -->
		<div class="container">
			<div ng-app="index" ng-controller="indexController">

				<!-- Begin Credenciales -->
				<section>
					<div class="row">

						<!-- Begin Formulario -->
						<div class="col-md-8 col-sm-8 col-xs-8">
							<form>
								<div class="form-row align-items-center">
									
									<div class="col-auto">
										<label class="sr-only">Usuario:</label>

										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><span class="fa fa-user"></span></div>
											</div>
											<input ng-model="ngUsername" type="text" class="form-control" placeholder="Usuario">
										</div>
									</div>

									<div class="col-auto">
										<label class="sr-only">Contraseña:</label>

										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><span class="fa fa-key"></span></div>
											</div>
											<input ng-model="ngContrasena" type="password" class="form-control" placeholder="Contraseña">
										</div>
									</div>

									<div class="col-auto">
										<button type="submit" class="btn btn-primary" placeholder="Contraseña" ng-click="login()">
											<span class="fa fa-sign-in fa-lg"></span>
										</button>
									</div>

								</div>
							</form>
						</div>
						<!-- End Formulario -->

						<!-- Begin Status Correct-->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<center><button class="btn btn-success">SI</button></center>
						</div>
						<!-- End Status Correct -->

						<!-- Begin Status Bad-->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<center><button class="btn btn-danger">NO</button></center>
						</div>
						<!-- End Status Bad -->

					</div>
				</section>
				<!-- End Credenciales -->

				<hr ng-style="{'margin-top':'15px'}">

				<!-- Begin Menu Vertical/Contenido -->
				<section>
					<div class="row">

						<!-- Begin Menu Vertical -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="navbar-vertical">
								<ul>
									<li><a href="#"><span class="fa fa-table fa-lg icon-vNavbar"></span>Resultados</a></li>
									<li><a href="#"><span class="fa fa-truck fa-lg icon-vNavbar"></span>Historial</a></li>
									<li><a href="#"><span class="fa fa-money fa-lg icon-vNavbar"></span>Usuarios</a></li>
									<li><a href="#"><span class="fa fa-flask fa-lg icon-vNavbar"></span>Permisos</a></li>
								</ul>
							</div>
						</div>
						<!-- End Menu Vertical -->

						<!-- Begin Contenido - Resultados -->
						<div class="col-md-10 col-sm-10 col-xs-10">
							<div class="content-vertical">

								<!-- Begin Filtros -->
								<center><h4 ng-style="{'font-weight': 'bold'}">Filtros</h4></center>

								<div class="row">

									<div class="col-md-6 col-sm-6 col-xs-6" ng-style="{'border-right':'solid 1px rgba(0,0,0,0.1)'}">
										<center>
											<h5 ng-style="{'border-bottom':'solid 1px rgba(0,0,0,.1)'}">Ubicaci&oacute;n</h5>
										</center>
										<div class="row">
											<div class="col-md-4 col-sm-4 col-xs-4">
												<center><label>Provincia</label></center>
												<div class="form-group">
													<select class="form-control" ng-model="html_idProvincia" ng-options="provincia.idProvincia as provincia.Nombre for provincia in ngProvincias" ng-change="showDistritosByProvincia(html_idProvincia)">
														<option value="" selected disabled>---Select---</option>
													</select>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<center><label>Distrito</label></center>
												<div class="form-group">
													<select class="form-control" ng-model="html_idDistrito" ng-options="distrito.idDistrito as distrito.Nombre for distrito in ngDistritos" ng-change="showLocalidadesByDistrito(html_idDistrito)">
														<option value="" selected disabled>---Select---</option>
													</select>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<center><label>Localidad</label></center>
												<div class="form-group">
													<select class="form-control" ng-model="html_idLocalidad" ng-options="localidad.idLocalidad as localidad.Nombre for localidad in ngLocalidades" ng-change="showCultivosByLocalidad(html_idLocalidad)">
														<option value="" selected disabled>---Select---</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-sm-6 col-xs-6">
										<center>
											<h5 ng-style="{'border-bottom':'solid 1px rgba(0,0,0,.1)'}">Campo</h5>
										</center>
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<center><label>Cultivo</label></center>
												<div class="form-group">
													<select class="form-control" ng-model="html_idCultivo" ng-options="cultivo.idCultivo as cultivo.Institucion for cultivo in ngCultivos" ng-change="showSurcosByCultivo(html_idCultivo)">
														<option value="" selected disabled>---Select---</option>
													</select>
												</div>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<center><label>Surco</label></center>
												<div class="form-group">
													<select class="form-control" ng-model="html_idSurco" ng-options="surco.idSurco as surco.Codigo for surco in ngSurcos">
														<option value="" selected disabled>---Select---</option>
													</select>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- End Filtros -->

								<br>

								<!-- Begin Tabla -->
								<table class="table table-hover font-small">
									<thead>
										<tr>
											<th scope="col"><center>#</center></th>
											<th scope="col"><center>id</center></th>
											<th scope="col"><center>% Veget.</center></th>
											<th scope="col"><center>% Amari.</center></th>
											<th scope="col"><center>Fec. Creada</center></th>
											<th scope="col"><center>Fec. Modify</center></th>
											<th scope="col"><center>idUsuario</center></th>
											<th scope="col"><center>idSurco</center></th>
											<th scope="col"><center>idCultivo</center></th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="r in ngResultados track by $index" repeat-done="{{$index}}" my-post-repeat-directive>
											<td>
												<center>
													<h5 ng-bind="r.idRegistro"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.idRegistro"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.Vegetacion"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.Amarilleamiento"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.FecCreated"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.FecModified"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.Usuario_id"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.Surco_id"></h5>
												</center>
											</td>
											<td>
												<center>
													<h5 ng-bind="r.Cultivo_id"></h5>
												</center>
											</td>
										</tr>
									</tbody>

									<!--<tfoot>
										<tr>
											<th>
												<center>Lista de Resultados Propiedad de INIA - UPC (2019)</center>
											</th>
										</tr>
									</tfoot>-->
								</table>
								<!-- End Tabla -->

							</div>
						</div>
						<!-- End Contenido - Resultados -->

					</div>
				</section>
				<!-- End Menu Vertical/Contenido -->

			</div>
		</div>
		<!-- END CONTENIDO -->

		<!-- BEGIN FOOTER -->
		<footer class="site-footer">
				
			<!-- Begin Contenido About/Contact/Links -->
		    <div class="container">
		        <div class="row">

		         	<div class="col-md-6 col-sm-6 col-xs-6 font-black">
		            	<img src="imagenes/footer-about.png">
		            	<p class="text-justify">Texto de entrada</p>
		          	</div>

		          	<div class="col-md-3 col-sm-3 col-xs-3 font-black">
		            	<img src="imagenes/footer-categorias.png">
		            	<ul class="footer-links">
		              		<li><a href="#">C++</a></li>
		              		<li><a href="#">Python</a></li>
		              		<li><a href="#">R</a></li>
		            	</ul>
		          	</div>

		          	<div class="col-md-3 col-sm-3 col-xs-3 font-black">
		            	<img src="imagenes/footer-enlaces.png">
		            	<ul class="footer-links">
		              		<li><a href="#">About Us</a></li>
		              		<li><a href="#">Contact Us</a></li>
		              		<li><a href="#">Contribute</a></li>
		            	</ul>
		          	</div>

		        </div>
		    </div>
		    <!-- End Contenido About/Contact/Links -->

		    <hr>

		    <!-- Begin Contenido Copyright -->
		    <div class="container">
		        <div class="row">

		    		<div class="col-md-8 col-sm-8 col-xs-8">
		            	<p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by HZ</p>
		          	</div>

		          	<div class="col-md-4 col-sm-4 col-xs-4">
		            	<ul class="social-icons">
		              		<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
		              		<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
		              		<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
		              		<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
		            	</ul>
		          	</div>

		        </div>
		    </div>
		    <!-- Begin Contenido Copyright -->

		</footer>
		<!-- END FOOTER -->

		<!-- JavaScript -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<!-- Angular 1 -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
		<script type="text/javascript" src="index.js"></script>

		<!-- PNotify 3 -->
		<script type="text/javascript" src="herramientas/pnotify.custom.min.js"></script>

	</body>

</html>