<ion-header>
  <ion-navbar>
    <ion-title>KinuaScann</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <!-- Begin Cabecera -->   
  <div class="centro">
    <img src="assets/imgs/logoupc.png">
  </div>
  <div class="centro">
    <img src="assets/imgs/logo_titulo.png">
  </div>

  <div class="centro">
    <ion-slides autoplay="1500" loop="true" speed="300" pager="false">
      <ion-slide><img src="assets/imgs/objet.png"></ion-slide>
      <ion-slide><img src="assets/imgs/objet.png"></ion-slide>
      <ion-slide><img src="assets/imgs/objet.png"></ion-slide>
      <ion-slide><img src="assets/imgs/objet.png"></ion-slide>
    </ion-slides>
  </div>
  <!-- End Cabecera -->

  <br>

  <!-- Begin Formulario -->
  <ion-row>
    <ion-col col-12 class="center">

      <img src="assets/imgs/logo_usuario.png">
      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <ion-input type="text" placeholder="Username" [(ngModel)]="ngUsername"></ion-input>
      </ion-item>

      <img src="assets/imgs/logo_password.png">
      <ion-item>
        <ion-icon name="key" item-left></ion-icon>
        <ion-input [type]="(flag_ver) ? 'text' : 'password'" placeholder="Password" [(ngModel)]="ngContrasena"></ion-input>
        <ion-icon name="eye" item-right (click)="viewPassword()"></ion-icon>
      </ion-item>

    </ion-col>
  </ion-row>
  <!-- End Formulario --> 

  <br>

  <!-- Begin Boton Send -->
  <div class="centro">
    <button ion-button color="primary" (click)="login()">
      <ion-icon name="send"></ion-icon>
      <img src="assets/imgs/logo_ingresar.png" style="padding-top: 4px;">
    </button>
  </div>
  <!-- End Boton Send -->

</ion-content>
