page-home {

	.home {
		background-image: url('../../assets/imgs/fondo.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.centro {
		text-align: center;
	}

}
